<form
  [formGroup]="stopFizBuzzForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col items-center"
>
  <div class="mb-4">
    <input
      formControlName="inputValue"
      placeholder="Enter 'stop' to stop"
      class="border p-2 w-full max-w-xs"
    />

    @if (inputValue?.invalid && (inputValue?.dirty || inputValue?.touched)){ @if
    (inputValue?.errors?.['invalidStop']) {
    <div class="text-red-500">
      <div>Input must be exactly 'stop'.</div>
    </div>
    } }
  </div>
  <div class="flex space-x-2">
    <button
      type="submit"
      [disabled]="stopFizBuzzForm.invalid"
      class="bg-orange-500 text-white w-16 p-1 disabled:opacity-50"
    >
      Stop
    </button>
  </div>
</form>
